<div class="card">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <button pButton pRipple label="ثبت تبلغات جدید" icon="pi pi-plus" class="p-button-success"
          routerLink="../form-advertising/new"></button>
      </div>
    </p-toolbar>
    <p-confirmDialog header="تایید" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-table [columns]="cols" [value]="Advertisings" styleClass="p-datatable-striped" [loading]="loading">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 4em">ردیف</th>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
          <th style="width: 12em"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-index="rowIndex">
        <tr>
          <td>
            <span class="p-column-title"> ردیف</span>
            {{ index + 1 }}
          </td>
          <td>
            <span class="p-column-title"> تاریخ شروع</span>
            {{ rowData.startDate }}
          </td>
          <td>
            <span class="p-column-title">تاریخ پایان</span>
            {{ rowData.endDate}}
          </td>
          <td>
            <span class="p-column-title"> کاربر ایجاد کننده</span>
            <p-tag value={{ rowData.regCompanyUser.regUser.fullName }}>
            </p-tag>
          </td>
          <td>
            <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger"
              (click)="confirmDelete(rowData.id)" pTooltip="حذف"></button>
            <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-info p-mr-1"
              (click)="editAdvertising(rowData.id)" pTooltip="ویرایش"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  