<div class="card">
    <div class="p-grid p-fluid">
        <div class="p-col-3 p-field">
            <label for="">نام هتل</label>
            <input type="text" pInputText>
        </div>
        <div class="p-col-3 p-field">
            <label for=""></label>
            <p-dropdown></p-dropdown>
        </div>
        <div class="p-col-3 p-field">
            <label for=""></label>
            <p-dropdown></p-dropdown>
        </div>
        <div class="p-col-3 p-field">
            <label for=""></label>
            <p-dropdown></p-dropdown>
        </div>
    </div>
</div>