<div class="rect p-d-flex p-jc-around p-flex-column">
    <div class="p-d-flex p-flex-column p-ai-start top">
        <div class="header">
            {{'landing.special'|translate}}<br>
            {{'landing.suggestion'|translate}}
        </div>
        <div class="p-pl-6">
            <p style="color: #ACACAC;">{{'landing.specialDetail'|translate}}</p>
        </div>
    </div>
    <div class="p-d-flex p-ai-center bottom">
        <div class="p-grid">
            <div class="p-col-2">
                <div class="menus">
                    <div class="menu p-d-flex p-ai-center" *ngFor="let menu of menus;let i = index" [id]="'menu' + i"
                        (click)="menuClicked(i)" [routerLink]="menu.id">
                        <div [id]="'dash' + i" class="p-mr-1"></div>
                        <span>{{menu.label}}</span>
                    </div>
                    <p-dropdown [style]="{'minWidth':'100%','marginTop':'1em'}"
                        placeholder="{{'landing.other Cities'|translate}}"></p-dropdown>
                </div>
            </div>
            <div class="p-col-10">
                <p-carousel dir="ltr" [value]="advs" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
                    [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
                    <ng-template let-product pTemplate="item">
                        <sc-adv-card [product]="product"></sc-adv-card>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</div>