<div class="rect p-d-flex p-jc-evenly">
    <div class="p-d-flex p-flex-column p-ai-start p-jc-center left">
        <div class="header">
            Posting<br>
            Your Announcement
        </div>
        <div class="p-pl-6">
            <p style="color: #ACACAC;">You can post your Announcements and advertisements too,<br>
                sign up now to posting your anouncements.</p>
        </div>
        <div class="p-pl-6">
            <button pButton label="Posting Ad" class="p-button-rounded p-button-raised"></button>
        </div>
    </div>
    <div class="right">
        <img src="assets/images/landing/girl.png" alt="">
    </div>
</div>