.rectangle {
    background-color: #E8E8E8;
    width: 100%;
    height: 25em;
    padding: 0 8em;

    .left {
        height: 100%;

        .header {
            font-size: 3em;
        }
    }

    .right {
        img {
            height: 29em;
        }
    }
}

::ng-deep .main-root-ltr {
    .header {
        border-left: 4px #3548BF solid;
        padding-left: 1em;
    }
}

::ng-deep .main-root-rtl {
    .header {
        border-right: 4px #3548BF solid;
        padding-right: 1em;
    }
}


@media screen and (max-width: 480px) and (min-width: 360px) {}

@media screen and (max-width: 480px) {
    .rectangle {
        height: fit-content;
        padding: 0 1em !important;
    }

    .header {
        font-size: 2em !important;
    }

    .right {
        display: flex;
        justify-content: center;
    }

    img {
        height: 25em !important;
        margin-bottom: -4em !important;
    }

    .desc {
        padding-left: 3em;
    }
}

@media screen and (max-width: 960px) and (min-width: 480px) {}

@media screen and (max-width: 1366px) and (min-width: 960px) {}

@media screen and (min-width: 1366px) {}