<div class="rectangle p-d-flex">
    <div class="p-d-flex p-flex-column p-ai-start p-jc-center left">
        <div class="header">
            {{'landing.posting' | translate}}<br>
            {{'landing.your Announcement' | translate}}
        </div>
        <div>
            <p style="color: #ACACAC;">{{'landing.postingDetail' | translate}}</p>
        </div>
        <div>
            <button pButton label="{{'landing.posting Ad' | translate}}"
                class="p-button-rounded p-button-raised"></button>
        </div>
    </div>
    <span style="flex:1 auto;"></span>
    <div class="right">
        <img src="assets/images/landing/girl.png" alt="">
    </div>
</div>