<div class="container">
    <div class="change p-d-flex p-ai-center p-jc-evenly">
        <h3>Residental for Rent</h3>
        <span style="flex: 1 auto;"></span>
        <button pButton pRipple label="Change Category" class="p-button-rounded p-button-text"></button>
    </div>
    <div class="bottom p-grid">
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end">
            <label for="">City</label>
        </div>
        <div class="p-col-8">
            <p-dropdown inputId="City" [style]="{'minWidth':'100%','background-color':'#e8e8e8'}" placeholder="City">
            </p-dropdown>
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end">
            <label for="">Neighborhood</label>
        </div>
        <div class="p-col-8">
            <p-dropdown inputId="Neighborhood" [style]="{'minWidth':'100%','background-color':'#e8e8e8'}"
                placeholder="Neighborhood"></p-dropdown>
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-start p-jc-end">
            <label for="">Ad Image</label>
        </div>
        <div class="p-col-8">
            <div class="p-d-flex p-ai-center">
                <i style="font-size: 1.5em;color: #3548BF;" class="pi pi-info-circle p-mr-2"></i>
                <span>Adding Image Triple Your Advertise View, Pick Them All Once.</span>
            </div>
            <div class="p-d-flex p-flex-wrap p-mt-2">
                <div class="add-img p-d-flex p-ai-center p-jc-center">
                    <div class="add-circle p-d-flex p-ai-center p-jc-center">
                        <img src="assets/images/post/camera.svg">
                    </div>
                </div>
                <div class="img p-d-flex p-ai-center p-jc-center">
                    <div class="main">
                        <img src="assets/images/landing/NoPath - Copy (4).png" />
                    </div>
                    <div class="circle p-d-flex p-ai-center p-jc-center">
                        <img src="assets/images/post/bin.svg">
                    </div>
                </div>
                <div class="img p-d-flex p-ai-center p-jc-center">
                    <div class="main">
                        <img src="assets/images/landing/NoPath - Copy (4).png" />
                    </div>
                    <div class="circle p-d-flex p-ai-center p-jc-center">
                        <img src="assets/images/post/bin.svg">
                    </div>
                </div>
                <div class="img p-d-flex p-ai-center p-jc-center">
                    <div class="main">
                        <img src="assets/images/landing/NoPath - Copy (4).png" />
                    </div>
                    <div class="circle p-d-flex p-ai-center p-jc-center">
                        <img src="assets/images/post/bin.svg">
                    </div>
                </div>

            </div>
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end">
            <label for="">Area</label>
        </div>
        <div class="p-col-8">
            <mat-form-field class="field">
                <mat-label>Square Meters</mat-label>
                <input type="text" matInput>
                <mat-error>

                </mat-error>
            </mat-form-field>
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end">
            <label for="">Age Of Building</label>
        </div>
        <div class="p-col-8">
            <mat-form-field class="field">
                <mat-label>Age of Building</mat-label>
                <input type="text" matInput>
                <mat-error>

                </mat-error>
            </mat-form-field>
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end">
            <label for="">Number of Rooms</label>
        </div>
        <div class="p-col-8">
            <p-dropdown [style]="{'minWidth':'100%','background-color':'#e8e8e8'}" autoWidth="false"
                placeholder="Number of Rooms" class=" sp-mx-2"></p-dropdown>
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end">Rent</div>
        <div class="p-col-8">
            <mat-form-field class="field">
                <mat-label>Rent in Turkish Lira</mat-label>
                <input type="text" matInput>
                <mat-error>

                </mat-error>
            </mat-form-field>
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end">Phone
            Number</div>
        <div class="p-col-8">
            <div class="p-d-flex p-ai-center">
                <i style="font-size: 1.5em;color: #3548BF;" class="pi pi-info-circle p-mr-2"></i>
                <span>Enter A Valid Phone Number So User Can Contact You.</span>
            </div>
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end">
        </div>
        <div class="p-col-8">
            <mat-form-field class="field">
                <mat-label>00905522398405</mat-label>
                <input type="text" matInput>
                <mat-error>

                </mat-error>
            </mat-form-field> 
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end">Title</div>
        <div class="p-col-8">
            <div class="p-d-flex p-ai-center">
                <i style="font-size: 1.5em;color: #3548BF;" class="pi pi-info-circle p-mr-2"></i>
                <span>Type Down Details And Significant Features In The Description So Users
                    Can Exactly See What You Are Presenting.</span>
            </div>
        </div>
        <div class="p-col-2"></div>

        <div class="p-col-2 p-d-flex p-ai-center p-jc-end"></div>
        <div class="p-col-8">
            <mat-form-field class="field">
                <mat-label>Description</mat-label>
                <input type="text" matInput>
                <mat-error>

                </mat-error>
            </mat-form-field> 
        </div>
        <div class="p-col-2"></div>
        <div class="p-col-2 p-d-flex p-ai-center p-jc-end"></div>
        <div class="p-col-8">
            <div class="p-d-flex p-ai-center p-jc-center">
                <!-- <button pButton pRipple label="Load more" class="p-button-rounded"></button> -->
                <button pButton label="Post Ad" class="p-button-rounde p-button-raised p-button-raised"></button>
        
            </div>
        </div>
        <div class="p-col-2"></div>
    </div>
 
   
</div>