<div class="p-d-flex p-flex-column p-ai-center">
  
    <sc-topbar style="width: 80%;"></sc-topbar>
    <div class="container">
       <h1>Posting Free Advertiesem  ent</h1>
       <div class="change p-d-flex p-ai-center p-jc-evenly">
        <h3 style="margin-left: 2em;">Residental for Rent</h3>   
        <span style="flex: 1 auto;"></span>
            <button pButton label="Change Category" class="btnchange p-button-rounded p-button-raised p-mr-3"></button>
       
       </div>
       <div class="bottom p-d-flex p-flex-column p-ai-center">
           <div class="city  p-d-flex p-jc-center">
               <span>City</span><span style="width: 100%"> <p-dropdown [style]="{'minWidth':'100%','background-color':'#e8e8e8'}" autoWidth="false"  placeholder="City" class=" sp-mx-2"></p-dropdown></span>
           </div>
           <div class="city  p-d-flex p-jc-center">
            <span>City</span><span style="width: 100%"> <p-dropdown [style]="{'minWidth':'100%','background-color':'#e8e8e8'}" autoWidth="false"  placeholder="City" class="dropdown sp-mx-2"></p-dropdown></span>
            </div>
            <div class="addimhtop p-d-flex ">
              <span>Ad Image</span>        <span style="flex: 1 auto;"></span><div class="p-d-flex p-jc-center"><i class="fa fa-close"></i><span>Adding Image Triple Your Advertise View, Pick Them All Once.</span></div>
            </div>
            <div class="form p-d-flex p-flex-column">
                <div class="p-grid p-nogutter">
                    <div class="p-col-21">
                      <span>Area</span>
                    </div>
                    <div class="p-col-11">
                        <mat-form-field  class="field">
                            <mat-label>Family</mat-label>
                            <input type="text" matInput>
                            <mat-error>
    
                            </mat-error>
                        </mat-form-field>
                    </div>
                   
                </div>
            </div>
            <div class="city  p-d-flex p-jc-center">
                <span>Number
                    of Rooms</span><span style="width: 100%"> <p-dropdown [style]="{'minWidth':'100%','background-color':'#e8e8e8'}" autoWidth="false"  placeholder="Number of Rooms" class=" sp-mx-2"></p-dropdown></span>
            </div>
            <div class="form p-d-flex p-flex-column">
                <div class="p-grid p-nogutter">
                    <div class="p-col-21">
                      <span>Rent</span>
                    </div>
                    <div class="p-col-11">
                        <mat-form-field  class="field">
                            <mat-label>Rent in Turkish Lira</mat-label>
                            <input type="text" matInput>
                            <mat-error>
    
                            </mat-error>
                        </mat-form-field>
                    </div>
                   
                </div>
            </div>
            <div class="addimhtop p-d-flex ">
                <span>Phone
                    Numbe</span>        <span style="flex: 1 auto;"></span><div class="p-d-flex p-jc-center"><i class="fa fa-close"></i><span>Enter A Valid Phone Number So User Can Contact You.</span></div>
              </div>
              <div class="form p-d-flex p-flex-column">
                <div class="p-grid p-nogutter">
                    <div class="p-col-21">
                    
                    </div>
                    <div class="p-col-11">
                        <mat-form-field  class="field">
                            <mat-label>00905522398405</mat-label>
                            <input type="text" matInput>
                            <mat-error>
    
                            </mat-error>
                        </mat-form-field>
                    </div>
                   
                </div>
            </div>

            <div class="addimhtop p-d-flex ">
                <span>Title</span>        <span style="flex: 1 auto;"></span><div class="p-d-flex p-jc-center"><i class="fa fa-close"></i><span>Mention Important Things About Your Advertise In The Title.</span></div>
              </div>
              <div class="form p-d-flex p-flex-column">
                <div class="p-grid p-nogutter">
                    <div class="p-col-21">
                    
                    </div>
                    <div class="p-col-11">
                        <mat-form-field  class="field">
                            <mat-label>Title</mat-label>
                            <input type="text" matInput>
                            <mat-error>
    
                            </mat-error>
                        </mat-form-field>
                    </div>
                   
                </div>
            </div>



            <div class="addimhtop p-d-flex ">
                <span>Description</span>        <span style="flex: 1 auto;"></span><div class="p-d-flex p-jc-center"><i class="fa fa-info-circle"></i><span>Type Down Details And Significant Features In The Description So Users
                    Can Exactly See What You Are Presenting.</span></div>
              </div>
              <div class="form p-d-flex p-flex-column">
                <div class="p-grid p-nogutter">
                    <div class="p-col-21">
                    
                    </div>
                    <div class="p-col-11">
                        <mat-form-field  class="field">
                            <mat-label>Description</mat-label>
                            <input type="text" matInput>
                            <mat-error>
    
                            </mat-error>
                        </mat-form-field>
                    </div>
                   
                </div>
            </div>
            <div class="p-d-flex p-ai-center p-jc-center">
                <button pButton label="Post Ad" class="p-button-rounded p-button-raised"></button>
                
            </div>
       </div>
    </div>
 


</div>