<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-right">
            <button [disabled]="saving" pButton pRipple label="ارسال جهت تایید" [icon]="(saving?'pi pi-spin pi-spinner':'pi pi-save')" class="p-button-success" (click)="submit()">
      </button>
        </div>
        <div class="p-toolbar-group-left">
            <button pButton pRipple icon="pi pi-arrow-left" class="p-button-secondary" routerLink="/panel/hotel/hotels">
      </button>
        </div>
    </p-toolbar>
    <div class="p-grid p-fluid p-mt-2">
        <div class="p-col-6">
            <div class="p-grid p-fluid">
                <div class="p-col-4 p-field">
                    <label for="title">نام هتل</label>
                    <input type="text" #title="ngModel" id="title" pInputText [(ngModel)]="hotel.title" required [ngClass]="{'ng-dirty': (title.invalid && submitted) || (title.dirty && title.invalid)}">
                    <small *ngIf="(title.invalid && submitted) || (title.dirty && title.invalid)" class="p-error">
            ثبت عنوان اجباری می باشد.
          </small>
                </div>
                <div class="p-col-4 p-field">
                    <label for="selectedRate">درجه هتل</label>
                    <p-dropdown #srate="ngModel" [options]="rates" [(ngModel)]="selectedRate" required placeholder="انتخاب درجه" [ngClass]="{'ng-dirty': (srate.invalid && submitted) || (srate.dirty && srate.invalid)}">
                        <ng-template pTemplate="selectedItem">
                            <div *ngIf="selectedRate">
                                <i class="pi pi-star"></i>
                                <i *ngIf="selectedRate > 1" class="pi pi-star p-mr-1"></i>
                                <i *ngIf="selectedRate > 2" class="pi pi-star p-mr-1"></i>
                                <i *ngIf="selectedRate > 3" class="pi pi-star p-mr-1"></i>
                                <i *ngIf="selectedRate > 4" class="pi pi-star p-mr-1"></i>
                                <i *ngIf="selectedRate > 5" class="pi pi-star p-mr-1"></i>
                            </div>
                        </ng-template>
                        <ng-template let-rate pTemplate="item">
                            <i class="pi pi-star"></i>
                            <i *ngIf="rate.value > 1" class="pi pi-star p-mr-1"></i>
                            <i *ngIf="rate.value > 2" class="pi pi-star p-mr-1"></i>
                            <i *ngIf="rate.value > 3" class="pi pi-star p-mr-1"></i>
                            <i *ngIf="rate.value > 4" class="pi pi-star p-mr-1"></i>
                            <i *ngIf="rate.value > 5" class="pi pi-star p-mr-1"></i>
                        </ng-template>
                    </p-dropdown>
                    <small *ngIf="(srate.invalid && submitted) || (srate.dirty && srate.invalid)" class="p-error">
            انتخاب درجه هتل اجباری است.
          </small>
                </div>
                <div class="p-col-4 p-field">
                    <label for="">نام شهر</label>
                    <p-autoComplete #ss="ngModel" [suggestions]="locations" [(ngModel)]="selectedLocation" (completeMethod)="getLocations($event)" field="title" required [ngClass]="{'ng-dirty': (ss.invalid && submitted) || (ss.dirty && ss.invalid)}">
                    </p-autoComplete>
                    <small *ngIf="(ss.invalid && submitted) || (ss.dirty && ss.invalid)" class="p-error">
            انتخاب شهر اجباری است
          </small>
                </div>
                <div class="p-col-6 p-field">
                    <label for="">نوع هتل</label>
                    <p-dropdown [options]="hotelTypes" #typeId="ngModel" [(ngModel)]="hotel.typeId" required placeholder="انتخاب نوع هتل" [ngClass]="{'ng-dirty': (typeId.invalid && submitted) || (typeId.dirty && typeId.invalid)}"></p-dropdown>
                    <small *ngIf="(typeId.invalid && submitted) || (typeId.dirty && typeId.invalid)" class="p-error">
            نوع هتل حتما باید انتخاب شود
          </small>
                </div>
                <div class="p-col-6 p-field">
                    <label for="">تلفن</label>
                    <p-inputMask style="text-align: right;"  mask="999-99999999" #phone="ngModel" id="phone"   [(ngModel)]="hotel.phone" required [ngClass]="{'ng-dirty': (phone.invalid && submitted) || (phone.dirty && phone.invalid)}" ></p-inputMask>
                    <small *ngIf="(phone.invalid && submitted) || (phone.dirty && phone.invalid)" class="p-error">
            ثبت تلفن اجباری می باشد.
          </small>
                </div>
                <div class="p-col-12 p-field">
                    <label for="">آدرس</label>
                    <textarea pInputTextarea rows="2" #address="ngModel" id="address" [(ngModel)]="hotel.address" required [ngClass]="{'ng-dirty': (address.invalid && submitted) || (address.dirty && address.invalid)}"></textarea>
                    <small *ngIf="(address.invalid && submitted) || (address.dirty && address.invalid)" class="p-error">
            ثبت آدرس اجباری می باشد.
          </small>
                </div>
                <div class="p-col-12 p-field">
                 <div style="height: 20px;"></div>
                </div>
            </div>
        </div>
        <div class="p-col-6">
            <div class="map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="options" [leafletLayersControl]="layersControl"></div>
        </div>
        <div class="p-col-12 p-field">
            <label for="">توضیحات</label>
            <textarea pInputTextarea autoResize="autoResize" rows="1" [(ngModel)]="hotel.description"></textarea>
        </div>
        <div class="p-col-3 p-field">
            <label for="latitude">latitude</label>
            <input type="text" #latitude="ngModel" id="latitude" pInputText [(ngModel)]="hotel.latitude" required [ngClass]="{'ng-dirty': (latitude.invalid && submitted) || (latitude.dirty && latitude.invalid)}">
            <small *ngIf="(latitude.invalid && submitted) || (latitude.dirty && latitude.invalid)" class="p-error">
        ثبت latitude اجباری می باشد.
      </small>
        </div>
        <div class="p-col-3 p-field">
            <label for="longitude">longitude</label>
            <input type="text" #longitude="ngModel" id="longitude" pInputText [(ngModel)]="hotel.longitude" required [ngClass]="{'ng-dirty': (longitude.invalid && submitted) || (longitude.dirty && longitude.invalid)}">
            <small *ngIf="(longitude.invalid && submitted) || (longitude.dirty && longitude.invalid)" class="p-error">
        ثبت longitude اجباری می باشد.
      </small>
        </div>
     
        <div class="p-col-6 p-field">
            <label for="">امکانات هتل</label>
            <p-autoComplete [suggestions]="facilities" [(ngModel)]="facilitiesKinds" (completeMethod)="getFacilities($event)" field="title" [multiple]="true">
            </p-autoComplete>
        </div>
        <p-fieldset legend="اماکن">
            <div class="p-grid p-fluid">
        <div class="p-col-6">
            <div class="p-grid p-fluid">
                <div class="p-col-4 p-field">
                    <label for="">اماکن</label>
                    <p-autoComplete [suggestions]="places" [(ngModel)]="place.title" (completeMethod)="getPlaces($event)" field="title">
                    </p-autoComplete>
                </div>
                <div class="p-col-4 p-field">
                    <label for="">وسیله نقلیه</label>
                    <p-dropdown [options]="vehicles" placeholder="انتخاب" [(ngModel)]="place.vehicleId"></p-dropdown>
                </div>
                <div class="p-col-4 p-field">
                    <label for="">دقیقه</label>
                    <p-inputNumber mode="decimal" [useGrouping]="false" [(ngModel)]="place.minute">
                    </p-inputNumber>
                </div>
                <div class="p-col-10"></div>
                <div class="p-col-2">
                    <button pButton label="افزودن" icon="pi pi-plus" (click)="addPlace()"></button>
                </div>
            </div>
        </div>
        <div class="p-col-6">
            <p-table [value]="hotel.places">
                <ng-template pTemplate="header">
                    <tr>
                        <th>اماکن</th>
                        <th>وسیله نقلیه</th>
                        <th>دقیقه</th>
                        <th style="width: 5em;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-place let-index="rowIndex">
                    <tr>
                        <td>{{place.title}}</td>
                        <td>{{place.vehicleTitle}}</td>
                        <td>{{place.minute}}</td>
                        <td> <button pButton pRipple icon="pi pi-trash" class="p-button p-button-danger" (click)="deletePlaces(index)" pTooltip="حذف"></button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>  </div>
        </p-fieldset>
            
        <div class="p-col-12">
            <p-fieldset legend="تصاویر">

          
            <div class="p-col-12">
                <p>یک تصویر را به عنوان تصویر شاخص انتخاب کنید.</p>
            </div>
            <div class="p-col-12 p-d-flex p-flex-wrap p-jc-center p-jc-lg-start">
                <div class="add-img p-d-flex p-ai-center p-jc-center" (click)="file.click()">
                    <div class="add-circle p-d-flex p-ai-center p-jc-center">
                        <img src="assets/layout/images/camera.svg">
                    </div>
                    <input type="file" #file accept=".jpg,.png,.jpeg" multiple="multiple" (change)="addImage($event)" style="display:none;">
                </div>
                <div class="img p-d-flex p-ai-center p-jc-center" *ngFor="let img of images;let i = index">
                    <div class="main p-d-flex p-ai-center p-jc-center">
                        <img [src]="img.url" (error)="defaultImg(img)" />
                    </div>
                    <div class="tools">
                        <div class="circle p-d-flex p-ai-center p-jc-center" (click)="deleteImage(img,i)">
                            <img src="assets/layout/images/bin.svg">
                        </div>
                        <div class="circle p-d-flex p-ai-center p-jc-center p-mr-2">
                            <p-radioButton name="isMain" [value]="i" [(ngModel)]="mainImageIndex"></p-radioButton>
                        </div>
                    </div>
                </div>
            </div>
        </p-fieldset>
        </div>
    </div>