<div class="container p-d-flex p-flex-column">
    <div class="top p-d-flex p-flex-column p-ai-center p-jc-center">
        <h1 style="padding-bottom: 1.5em">{{'panel.User Profile'|translate}}</h1>
        <div class="circle p-d-flex p-ai-center p-jc-center">
            <img src="assets/images/panel/patient.svg" alt="">
        </div>
    </div>
    <div class="bottom p-d-flex p-flex-column p-ai-center p-jc-center">
        <div class="form p-d-flex p-flex-column">
            <div class="p-grid">
                <div class="p-col-6">
                    <mat-form-field class="field">
                        <mat-label>{{'panel.Name'|translate}}</mat-label>
                        <input [(ngModel)]="user.name" type="text" matInput>
                        <mat-error>

                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="p-col-6">
                    <mat-form-field style="margin-left: 1em;" class="field">
                        <mat-label>{{'panel.Family'|translate}}</mat-label>
                        <input [(ngModel)]="user.family" type="text" matInput>
                        <mat-error>

                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="p-col-12">
                    <mat-form-field class="field">
                        <mat-label>{{'panel.email'|translate}}</mat-label>
                        <input [(ngModel)]="user.email" type="email" matInput>
                        <mat-error>

                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="p-col-12">
                    <div class="address">
                        <mat-form-field style="border-left: 1em;" class="field">
                            <mat-label>{{'panel.Full Address'|translate}}</mat-label>
                            <input [(ngModel)]="user.address" type="text" matInput>
                            <mat-error>

                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="p-col-12 p-d-flex p-jc-center">
                    <button pButton label="{{'panel.Confirm changes'|translate}}"
                        class="btn p-button-rounded p-button-raised" (click)="onSubmit()"></button>
                </div>
            </div>
        </div>
    </div>
</div>