<div class="card">
    <p-toolbar>
      <div class="p-toolbar-group-right">
        <div class="p-grid p-fluid">
          <div class="p-col-12 p-field">
            <div class="p-col-12 p-field">
                <label for="">نام تور</label>
                <p-autoComplete [suggestions]="tours" [(ngModel)]="selecteTours"
                (completeMethod)="getTour($event)" field="title"
                >
            </p-autoComplete>
            </div>
          </div>
        </div>
      </div>
      <div class="p-toolbar-group-left">
        <button pButton pRipple label="اضافه کردن" (click)="getTourById()" icon="pi pi-plus" class="p-button-success"
           ></button>
      </div>
      </p-toolbar>
      </div>


      <div class="p-grid p-fluid">
        <div class="p-col-9 p-field">
            <p-fieldset legend="لیست تور ها ...." [toggleable]="true" >
                <div class="p-grid p-fluid">
                    <div class="p-col-2 p-field">
                      <label for="">ردیف</label>
                      
                    </div>
                    <div class="p-col-2 p-field">
                      <label for=""> عنوان تور</label>
                      
                    </div>
                    <div class="p-col-2 p-field">
                      <label for="">تاریخ رفت</label>
                      
                    </div>
                    <div class="p-col-2 p-field">
                      <label for="">نام هتل</label>
                      
                    </div>
                    <div class="p-col-4 p-field">
                      <label for="">نوع نردبام</label>
                      
                    </div>
                   
                    
                  </div>    
            </p-fieldset>
        </div>
        <div class="p-col-3 p-field">
            <p-fieldset  legend="عملیات">
                <h5>مبلغ قابل پرداخت</h5>
                <h6>15000</h6>
                <button pButton pRipple label="پرداخت" class="p-button-success"
                routerLink="../"></button>
               </p-fieldset>
        </div>
      </div>
     
    