.color-text {
  color: #ffffff;
  font-size: 13px;
}

.p-dropdown {
  border-color: rgba($color: #252525, $alpha: 0.5) !important;
  border-radius: 25px !important;
  padding: 0.4em;
  min-width: 13em;
  width: 100% !important;

  .p-dropdown-trigger {
    color: rgba($color: #252525, $alpha: 0.5) !important;
  }

  .p-placeholder {
    color: rgba($color: #252525, $alpha: 0.5) !important;
  }
}

.p-cascadeselect {
  border-color: rgba($color: #252525, $alpha: 0.5) !important;
  border-radius: 25px !important;
  padding: 0.4em;
  min-width: 13em;
  width: 100% !important;
}


.p-button-icon-only {
  width: 3.3rem !important;
}

.p-button-rounded {
  height: 3.3rem !important;
}

.p-carousel-item {
  width: 4em;
}

.p-radiobutton {
  .p-radiobutton-box {
    border: none !important;
    background: #ffffff;

    .p-radiobutton-icon {
      background-color: #3548BF !important;
    }
  }

  .p-radiobutton-box.p-highlight {
    border-color: none !important;
    background: #ffffff !important;
  }
}

.p-dialog {
  border-radius: 1.5em !important;

  .p-dialog-content {
    border-radius: 1.5em !important;
  }
}

.p-button-label {
  font-family: 'IRANSansWeb' !important;
}

@media screen and (max-width: 480px) and (min-width: 360px) {}

@media screen and (max-width: 480px) {
  .p-cascadeselect {
    min-width: 10em !important;
  }

  .p-dropdown {
    min-width: 10em !important;
  }
}

@media screen and (max-width: 960px) and (min-width: 480px) {}

@media screen and (max-width: 1366px) and (min-width: 960px) {}

@media screen and (min-width: 1366px) {}