// $MainFont:"BRoya";
$MainFont:"IRANSansWeb";

/*#region breakpoints start*/
$breakpoint-tablet: 768;
$breakpoint-moile-l: 426;
$breakpoint-moile-m: 376;
$breakpoint-moile-s: 321;
/*#region breakpoints end*/