<div class="menu-header p-d-flex p-jc-center p-flex-column p-px-4 p-py-3"
    *ngFor="let category of categories;let i = index" [id]="'headerMenu' + i">
    <a class="p-d-flex p-jc-center p-ai-center" (click)="menuHeaderClick(i)">
        <i class="menu-header-icon {{category.icon}}"></i>
        <span class="margin-label">{{category.label}}</span>
        <span style="flex:1 auto;"></span>
        <i class="pi pi-angle-down down-icon"></i>
    </a>
    <div *ngIf="category.visible" class="p-d-flex p-flex-column p-ml-4 p-mt-2">
        <div class="p-my-1 menu-item" *ngFor="let item of category.items" (click)="menuItemClicked(item.value)">
            <span class="margin-label">{{item.label}}</span>
        </div>
    </div>
</div>