<div class="p-d-flex p-ai-center p-jc-evenly">
    <div class="p-d-flex p-flex-column p-ai-start">
        <span style="font-size: 3em;">
            Discover<br>
            Announcement<br>
            & Buy Advertisements
        </span>
        <div class="search p-d-flex p-ai-center p-mt-2">
            <p-dropdown placeholder="All Ads"></p-dropdown>
            <p-dropdown placeholder="City" class="p-mx-2"></p-dropdown>
            <button pButton class="p-button-rounded p-button-raised" icon="pi pi-search" routerLink="/ads"></button>
        </div>
    </div>
    <div class="p-d-flex p-ai-center p-jc-center right">
        <img src="assets/images/landing/header banner.png" alt="">
    </div>
</div>