<div class="rectangle p-grid p-d-flex p-ai-center">
    <div class="p-col-12 p-lg-6 p-d-flex p-flex-column p-ai-start">
        <span style="font-size: 3em;">
            {{'landing.discover' | translate}}<br>
            {{'landing.announcement' | translate}}<br>
            {{'landing.& Buy Advertisements' | translate}}
        </span>
        <div class="search p-d-flex p-ai-center p-mt-2">
            <p-cascadeSelect placeholder="{{'landing.all Ads' | translate}}" [(ngModel)]="category"
                [options]="categories" optionLabel="label" optionGroupLabel="label" [optionGroupChildren]="['items']">
                <ng-template pTemplate="option" let-option>
                    <div class="country-item">
                        <span>{{'common.' + option.value | translate}}</span>
                    </div>
                </ng-template>
            </p-cascadeSelect>
            <p-dropdown [options]="cities" placeholder="{{'landing.city' | translate}}" [(ngModel)]="city"
                class="p-mx-2">
                <ng-template pTemplate="item" let-item>
                    {{'common.'+item.label | translate}}
                </ng-template>
                <ng-template let-selectedItem pTemplate="selectedItem">
                    {{'common.'+selectedItem.label | translate}}
                </ng-template>
            </p-dropdown>
            <button pButton class="p-button-rounded p-button-raised" icon="pi pi-search" (click)="goToList()"></button>
        </div>
    </div>
    <div class="p-col-12 p-lg-6  p-d-flex p-ai-center p-jc-center right">
        <img class="ltr" src="assets/images/landing/header banner-ltr.png">
        <img class="rtl" src="assets/images/landing/header banner-rtl.png">
    </div>
</div>