<div class="container p-d-flex p-flex-column">
    <div class="contect p-d-flex p-flex-column p-jc-center">
        <div class="ff p-d-flex p-flex-column p-jc-center">

            <div class="top p-d-flex p-flex-column p-ai-center p-jc-center">
                <h1 style="padding-bottom: 1.5em">Marked Ads</h1>
                <div class="circle p-d-flex p-ai-center p-jc-center">
                    <img src="assets/images/panel/right.svg" alt="">
                </div>
            </div>
            <div class="post p-d-flex p-ai-center">

            </div>
            <div class="p-grid">
                <div *ngFor="let ad of ads" class="p-col-6">
                    <div class="ads">
                        <div class=" p-d-flex p-jc-center ">

                            <div>
                                <img class="imgads" src="assets/images/panel/imgads.png" alt="">
                            </div>
                            <div class="p-flex-column p-ai-center p-jc-center">
                                <h1>Two room house for rent</h1>
                                <h3>Elvankent</h3>
                                <div class="p-d-flex"> <i style="font-size: 2em;" class="fa fa-clock-o"></i>
                                    <h4>2 hours ago</h4>
                                </div>



                            </div>
                            <div class="bottom"></div>

                            <div class="circle p-d-flex p-ai-center p-jc-center">
                                <img src="assets/images/panel/bin.png" alt="">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>