<div class="rectangle p-d-flex p-grid">
  <div class="card p-col-12 p-lg-4">
    <div>
      <img src="assets/images/landing/free.svg" />
    </div>
    <span class="p-mt-3">
      <b>{{'landing.free advertise posting' | translate}}</b>
    </span>
    <p>{{'landing.freeDetail' |translate}}</p>
  </div>
  <div class="card p-col-12 p-lg-4 center">
    <div><img src="assets/images/landing/247.svg" /></div>
    <span class="p-mt-3"><b>{{'landing.24/7 Support' |translate}}</b></span>
    <p>{{'landing.24Detail' |translate}}</p>
  </div>
  <div class="card p-col-12 p-lg-4">
    <div><img src="assets/images/landing/secure.svg" /></div>
    <span class="p-mt-3"><b>{{'landing.secure & safe payment' |translate}}</b></span>
    <p>{{'landing.secureDetail' |translate}}</p>
  </div>
</div>