<div class="rect p-d-flex p-jc-center">
  <div class="free p-d-flex p-flex-column">
    <div style=" padding-left: 1em;padding-top: 2em;"><img src="assets/images/landing/free.png" alt="" /></div>
    <div style=" padding-left: 1em;padding-top: 1em;"><span><b>Free advertise posting</b></span></div>
    <div style=" padding-left: 1em;padding-top: 1em;">
      <p>
        The first free advertisement<br />
        Registration platform for Iranians<br />
        abroad.
      </p>
    </div>
  </div>

  <div class="hour24 p-d-flex p-flex-column p-mx-2">
    <div style=" padding-left: 1em;padding-top: 2em"><img src="assets/images/landing/247.png" alt="" /></div>
    <div style=" padding-left: 1em;padding-top: 1em;"><span><b>24/7 Support</b></span></div>
    <div style=" padding-left: 1em;color: #ACACAC;"><p>We are ready to answer you at every <br>hour of the day and any day of the<br> week.</p></div>
  </div>
  <div class="secure p-d-flex p-flex-column">
    <div style=" padding-left: 1em;padding-top: 2em"><img src="assets/images/landing/secure.png" alt="" /></div>
    <div style=" padding-left: 1em;padding-top: 1em"><span><b>Secure & safe payment</b></span></div>
    <div style=" padding-left: 1em;padding-top: 1em">
      <p>Secure payment through all Visa<br> Card and Master Card</p>
    </div>
  </div>
</div>
