.container {
    background-color: #E8E8E8;
    border-radius: 1em;

    .top {
        width: 100%;
        height: 10em;

        .circle {
            height: 10em;
            width: 10em;
            z-index: 2;
            position: absolute;
            border-radius: 10em;
            margin-bottom: -10em;
            background-color: #E8E8E8;

            img {
                height: 6em;
            }
        }
    }

    .bottom {
        border-radius: 1em;
        background-color: #DEDEDE;
        width: 100%;

        .post {
            width: 95%;
            height: 5em;
        }

        .adspost {
            width: 95%;
            background-color: #E8E8E8;
            border-radius: 1em;
            padding: 1.5em;
            margin: 1em 0;

            .img {
                height: 7em;
                width: 7em;
                border-radius: 1em;
                overflow: hidden;

                img {
                    height: 7em;
                }
            }

            span,
            div {
                color: #707070;
            }

            .manage-btn {
                color: #3548BF !important;
                cursor: pointer;
                margin-top: 3.8em;

                span {
                    color: #3548BF !important;

                }
            }

        }
    }
}

::ng-deep .main-root-ltr {
    .container {
        .bottom {
            .adspost {
                .detail {
                    margin-left: 1em;

                    .i-time {
                        margin-right: 0.5em;
                    }
                }

                .i-right {
                    display: inline;
                }

                .i-left {
                    display: none;
                }
            }
        }
    }

}

::ng-deep .main-root-rtl {
    .container {
        .bottom {
            .adspost {
                .detail {
                    margin-right: 1em;

                    .i-time {
                        margin-left: 0.5em;
                    }
                }

                .i-right {
                    display: none;
                }

                .i-left {
                    display: inline;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) and (min-width: 360px) {}

@media screen and (max-width: 480px) {
    .post {
        padding-top: 4.5em;
        height: 7em !important;
    }

    .manage-btn {
        color: #3548BF !important;
        cursor: pointer;
        margin-top: unset !important;
    }
}

@media screen and (max-width: 960px) and (min-width: 480px) {}

@media screen and (max-width: 1366px) and (min-width: 960px) {}

@media screen and (min-width: 1366px) {}