<div class="container p-d-flex p-flex-column">
    <div class="top p-d-flex p-flex-column p-ai-center p-jc-center">
        <h1 style="padding-bottom: 1.5em">My Ads</h1>
        <div class="circle p-d-flex p-ai-center p-jc-center">
            <img src="assets/images/panel/myads.svg" alt="">
        </div>
    </div>
    <div class="bottom p-d-flex p-flex-column p-ai-center p-jc-center">
        <div class="post p-d-flex p-ai-center">
            <button pButton label="Posting New Ad" class="p-button-rounded p-button-raised"></button>
        </div>

        <div class="adspost p-grid p-nogutter">
            <div class="p-col-2 p-nogutter">
                <div class="img p-d-flex p-ai-center p-jc-center">
                    <img src="assets/images/panel/Dreams1.jpg" alt="">
                </div>
            </div>
            <div class="p-col-7 p-nogutter">
                <div class="p-grid detail p-nogutter">
                    <div class="p-col-12 p-nogutter">
                        <span style="font-size: 1.4em;">Two room house for rent</span>
                    </div>
                    <div class="p-col-4 p-nogutter">
                        <span>Deposite:</span>
                    </div>
                    <div class="p-col-4 p-nogutter">
                        <span>$ 1,500</span>
                    </div>
                    <div class="p-col-2"></div>
                    <div class="p-col-4 p-nogutter">
                        <span>Rent:</span>
                    </div>
                    <div class="p-col-4 p-nogutter">
                        <span>$ 1,00</span>
                    </div>
                    <div class="p-col-2"></div>
                    <div class="p-col-12 p-nogutter">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
            <div class="p-col-3 p-nogutter">
                <div class="p-d-flex p-flex-column">
                    <span>Awaiting Approval</span>
                    <button pButton label="Manage ad" class="p-button-text"></button>
                </div>
            </div>
        </div>
    </div>
</div>