<div class="p-d-flex p-flex-column p-ai-center">
    <sc-topbar style="width: 80%;"></sc-topbar>
    <div class="content p-d-flex p-flex-column">
        <h1>Manage Advertisement</h1>
        <div class="delete p-d-flex  p-jc-evenly ">
         <div class="left p-d-flex p-flex-column">
           
          <span>Awaiting Approval</span>
          <span>Your ad is not approved yet, it will be approved as soon as <br>possible. Thanks for your patient.</span>

 
         </div>
         <div class="right p-d-flex p-jc-start p-ai-center">
            <span>You want to delete this Ad?</span>
            <span style="flex: 1 auto;"></span>
            <div class="deletead p-d-flex p-jc-centers p-ai-center">
                <img src="../../../../../assets/images/panel/bin.png" alt="">
                <span style="margin-left: 0.5em;">Delete Ad</span>
            </div>
            
         </div>
        
        </div>
        <div class="button p-d-flex   p-jc-start ">
            <div class="preview p-d-flex p-jc-center"><span>Preview</span></div>
            <div class="upgrade p-d-flex p-jc-center"><span>Upgrade your Ad</span></div>
            <div class="edit p-d-flex p-jc-center"><span>Edit Ad</span></div>
 
        </div>
<sc-upgrade></sc-upgrade>
    </div>
</div>