.container {
    width: 100%;

    h1 {
        color: #252525;
    }

    .status {
        span {
            color: #3548BF;
        }

        p {
            color: #ACACAC;
        }
    }

    .delete {
        background-color: #E8E8E8;
        border-radius: 1.5em;

        span:first-child {
            color: #ACACAC;
        }

        .btn {
            background-color: #ffffff;
            padding: 1em;
            border-radius: 2em;
            cursor: pointer;
            color: #3548BF;

            i {
                font-size: 1.7em;
            }
        }

        .btn:hover {
            background-color: #F3F3F3;
        }


    }

    .buttons {
        .button {
            background-color: #E8E8E8;
            width: 100%;
            padding: 1.5em;
            border-radius: 2.5em;
            cursor: pointer;
            color: #3548BF;
        }

        .button:hover {
            background-color: #DEDEDE;
        }

        .active {
            background-color: #FFFFFF;
        }

        .active:hover {
            background-color: #FFFFFF;
        }
    }
}