<div class="p-d-flex p-ai-center p-jc-center">
    <div class="white-div">
        <mat-label class="forgetpass-lbl">Forget Pass</mat-label>
        <mat-label class="enter-email p-mt-2">Enter your email you using for your account and we will send you a link to
            reset your<br> password.</mat-label>
        <mat-form-field class="field">
            <mat-label class="color-text">Email</mat-label>
            <input type="text" matInput />
            <mat-error> Please enter a valid Email </mat-error>
        </mat-form-field>
        <button class="p-py-1" mat-raised-button (click)="showReset()">Request Reset Link</button>
        <div class="p-my-3">
            <mat-label style="color: #FEE8ED;font-size: 10px;">If email wasn't send</mat-label>
            <a class="p-ml-2">Resend</a>
        </div>
        <span class="back p-mt-3" (click)="showLogin()">Back to login</span>
    </div>
</div>