<div class="container p-d-flex p-flex-column p-ai-center">
  <img class="topimage" src="assets/images/landing/mobile-pic.png" alt="" />
  <div class="top p-d-flex p-flex-column p-ai-center">
    <div class="circls p-d-flex p-ai-center p-jc-center">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <span style="font-size: 3em; color: #ffffff">{{'landing.FeelingHungry' | translate}}</span>
    <p style="color: #dedede; width: 25em;">
      {{'landing.footerDetail' | translate}}
    </p>
    <div class="fork p-d-flex p-ai-center">
      <img src="assets/images/landing/fork.png" />
      <span style="color: #3548bf" class="p-ml-2">{{'landing.OrderYour' | translate}}</span>
    </div>
  </div>
  <div class="bottom">
    <sc-main-footer style="width: 100%"></sc-main-footer>
  </div>
</div>