.rect {
  width: 80%;
   
  margin-top: 8em;
  .list {
    width: 75%;
    background-color: cyan;
    margin-right: 0.5em;
    .search {
        background-color: #E8E8E8;
        padding: 0.9em;
        border-radius: 4em;
    }
  }
  .filter {
    width: 25%;
    .top{
        background-color: #E8E8E8;
        border-radius: 1em;
     
        margin-left: 0.5em;
        .imgfilter{
            margin: 0.5em;
        }
    }
    .bottom{
        background-color: #E8E8E8;
        border-radius: 1em;
       
        margin-left: 0.5em;
        margin-top: 1em;
        .iconfa{
            margin: 0.5em;
        }
    }
  
  }
}
