<div class="p-d-flex p-flex-column p-ai-center">
  <sc-topbar style="width: 80%"></sc-topbar>
  <div class="rect p-d-flex p-jc-center">
    <div class="list p-flex-column p-flex-column p-ai-center">
        <sc-list></sc-list>
    </div>
    <div class="filter   p-flex-column p-flex-column p-ai-center">
         <div class="top p-d-flex p-flex-column  ">
             <div class="imgfilter">
                  <img class="imgtop" src="../../../../../assets/images/ads/filter.png.svg" alt="">
                   <span>Filter</span> 
                    <img  src="../../../../../assets/images/ads/filterNo.png.svg" alt="">
             </div>
             <div  class="radiod p-field-checkbox p-d-flex p-mx-2">
                <p-radioButton [inputId]="1" name="category" [value]="1" ></p-radioButton>
                <label >123452</label>
            </div>
            <div  class="radiod p-field-checkbox p-d-flex p-mx-2">
                <p-radioButton [inputId]="1" name="category" [value]="1" ></p-radioButton>
                <label >123456</label>
            </div>
             <p-dropdown style="margin-bottom: 1em;" class="p-mx-2" placeholder="Neighborhood"></p-dropdown>
         </div>
         <div class="bottom p-d-flex p-flex-column">
          <span style="margin: 1em;"><b>Categoriesb</b></span>
          <div *ngFor="let category of categories"  class="iconfa">
             <i class="{{category.icon}}"></i>
             <span style="margin-left: 1em;">{{category.name}}</span> 
               ddcdcdcd
          </div>
         </div>
    </div>
  </div>
</div>
