<div class="p-d-flex p-ai-center p-jc-center">
    <div class="white-div">
        <mat-label class="resetpass-lbl">{{'auth.ResetPass' | translate}}</mat-label>
        <mat-label class="choose">{{'auth.choose your password wisely.' | translate}}</mat-label>
        <mat-form-field class="field">
            <mat-label class="color-text">{{'auth.password' | translate}}</mat-label>
            <input type="text" matInput />
            <mat-error> {{'auth.requiredError' | translate}} </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
            <mat-label class="color-text">{{'auth.repeatpassword' | translate}}</mat-label>
            <input type="password" matInput />
            <mat-error> {{'auth.requiredError' | translate}} </mat-error>
        </mat-form-field>
        <button mat-raised-button>{{'auth.ResetPassword' | translate}}</button>
    </div>
</div>