<div class="rectangle p-d-flex">
  <div class="p-d-flex p-flex-column p-ai-start p-jc-center left">
    <div class="header">
      {{'landing.download' | translate}}<br />
      {{'landing.hayatemoon app' | translate}}
    </div>
    <div class="desc">
      <span style="color: #acacac" class="flex-wrap">
        {{'landing.downloadDetail' | translate}}
      </span>
    </div>
    <div style="margin-top: 2em;" class="p-grid">
      <div class="p-col-12 p-lg-4 p-d-flex p-ai-start p-jc-center"><img src="assets/images/landing/googleplay.svg">
      </div>
      <div class="p-col-12 p-lg-4 p-d-flex p-ai-start p-jc-center"><img src="assets/images/landing/appstore.svg">
      </div>
      <div class="p-col-12 p-lg-4 p-d-flex p-ai-start p-jc-center"><img src="assets/images/landing/cafebazar.svg">
      </div>
    </div>
  </div>
  <span style="flex:1 auto;"></span>
  <div class="right">
    <img src="assets/images/landing/Hayatemoon-app.png" />
  </div>
</div>