<div class="rectangle p-d-flex">
  <div class="p-d-flex p-flex-column p-ai-start p-jc-center left">
    <div class="header">
      {{'landing.download' | translate}}<br />
      {{'landing.hayatemoon app' | translate}}
    </div>
    <div class="p-pl-6">
      <p style="color: #acacac">
        {{'landing.downloadDetail' | translate}}
      </p>
    </div>
    <div style="margin-top: 2em;" class="p-d-flex">
      <img src="assets/images/landing/googleplay.svg">
      <img class="p-mx-2" src="assets/images/landing/appstore.svg">
      <img src="assets/images/landing/cafebazar.svg">
    </div>
  </div>
  <span style="flex:1 auto;"></span>
  <div class="right">
    <img src="assets/images/landing/Hayatemoon-app.png" />
  </div>
</div>