<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-right">
    </div>
    <div class="p-toolbar-group-left">
      <button pButton pRipple class="p-button-success p-ml-1" (click)="submit()" label="ذخیره"
        icon="pi pi-save"></button>
      <button pButton pRipple icon="pi pi-arrow-left" class="p-button-secondary" routerLink="../../places"></button>
    </div>
  </p-toolbar>
  <div class="p-grid p-fluid p-mt-2">
    <div class="p-col-12 p-field">
      <label for="title">عنوان</label>
      <p-chips [(ngModel)]="titleList"></p-chips>
    </div>
  </div>
</div>
