.topbar {
    padding: 0 8em;
    position: fixed;
    z-index: 3;
    width: 100%;

    .logo {
        height: 4em;
    }

    .co-title {
        span:nth-child(1) {
            font-size: 2.2em;
        }

        span:nth-child(2) {
            font-size: 1em;
            letter-spacing: 8px;
            color: #ACACAC;
        }
    }

    .icons {
        .icon {
            height: 4em;
            width: 4em;
            border-radius: 4em;
            cursor: pointer;
            background-color: #ffffff;

            .lngs {
                display: none;

                .lng {
                    height: 4em;
                    width: 4em;
                    border-radius: 4em;
                    cursor: pointer;
                    background-color: #ffffff;
                }
            }
        }

        #food {
            path {
                fill: #3548bf;
            }
        }

        #glob {
            path {
                fill: #3548bf;
            }
        }

        #menu {
            path {
                fill: #3548bf;
            }
        }

        .signup {
            height: 4em;
            width: 7em;
            border-radius: 4em;
            background-color: #ffffff;
            color: #3548bf;
            cursor: pointer;

            span {
                font-size: 1.4em;
                font-weight: lighter;
            }
        }

        .icon:hover {
            background-color: #3548bf;

            svg {
                path {
                    fill: #ffffff !important;
                }
            }
        }

        .signup:hover {
            color: #ffffff;
            background-color: #3548bf;
        }
    }
}

.glass {
    background: rgba($color: #ffffff, $alpha: 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.menu {
    height: 60em;
    width: 60em;
    border-radius: 60em;
    background-color: #000000;
    position: fixed;
    top: -25em;
    z-index: 3;
    animation-duration: 0.2s;

    .items {
        position: fixed;
        top: 0.7em;
        width: 20em;

        .close {
            height: 4em;
            width: 4em;
            border-radius: 4em;
            background-color: #ffffff;
            color: #3548BF;
            cursor: pointer;

            i {
                font-size: 1.8em;
            }
        }

        .close:hover {
            background-color: #3548BF;

            i {
                color: #ffffff;
            }
        }

        .profile {
            background-color: #707070;
            height: 4em;
            border-radius: 2.5em;
            color: #ffffff;
            cursor: pointer;
        }

        ul {
            color: #5B6FEF;
            margin-top: 4em;
            list-style-type: none;

            li {
                cursor: pointer;
                transition: 0.4s;
            }

            li:hover {
                color: #ffffff;
            }
        }
    }
}

::ng-deep .main-root-ltr {
    .topbar {
        .co-title {
            padding-left: 0.5em;
        }

        .icons {
            .icon {
                margin-left: 1em;
            }

            .signup {
                margin-left: 1em;
            }
        }
    }

    .menu {
        right: -20em;

        .items {
            right: 8em;
        }

        .profile {
            margin-right: 1em;
        }

        ul {
            li {
                text-align: right;
            }

            li:hover {
                margin-right: 1em;
            }
        }
    }
}

::ng-deep .main-root-rtl {
    .topbar {
        .co-title {
            padding-right: 0.5em;
        }

        .icons {
            .icon {
                margin-right: 1em;
            }

            .signup {
                margin-right: 1em;
            }
        }
    }

    .menu {
        left: -20em;

        .items {
            left: 8em;
        }

        .profile {
            margin-left: 1em;
        }

        ul {
            li {
                text-align: left;
            }

            li:hover {
                margin-left: 1em;
            }
        }
    }
}