.container {
    width: 16rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 1.5em;
    cursor: pointer;

    .img {
        height: 15rem;
        width: 16rem;

        img {
            width: 16rem;
        }
    }

    .detail {
        height: 10rem;
        border-radius: 1.5em;
        background-color: #ffffff;
        margin-top: -2em;
        position: relative;
        padding: 1em;
        width: 100%;

        .publish-date {
            border-bottom-left-radius: 1em;
            border-top-left-radius: 1em;
            position: absolute;
            background-color: #F3F3F3;
            padding: 0.5em;
            right: 0;
            top: -1em;
            color: #ACACAC;

            i {
                margin-right: 0.5em;
                font-size: 1.3em;
            }
        }

        .title {
            margin-top: 1em;
        }

        .price {
            font-size: 1.4em;
            color: #ACACAC;
        }

        .category {
            position: absolute;
            bottom: 1em;
            width: 14em;
            color: #ACACAC;
        }

    }
}