<div class="container p-d-flex p-flex-column" (click)="selectPro()">
    <div class="img p-d-flex p-ai-center p-jc-center">
        <img src="assets/images/landing/NoPath - Copy (4).png" />
    </div>
    <div class="detail p-d-flex p-flex-column">
        <div class="p-d-flex p-ai-center publish-date">
            <i class="pi pi-clock"></i>
            <span>2 hours ago</span>
        </div>
        <span class="title">{{product.name}}</span>
        <span class="price">${{product.price}}</span>
        <div class="p-d-flex p-ai-center p-jc-center category">
            <span>علامت زورو</span>
            <span style="flex:1 auto;"></span>
            <i class="pi pi-save"></i>
        </div>
    </div>
</div>