<div class="p-d-flex p-jc-center p-ai-center">
    <div *ngIf="!active" class="login-btn animate__animated animate__fadeIn" (click)="btnClicked()">
        <div>
            <span>
                {{'auth.login' | translate}}
            </span>
        </div>
    </div>
    <div *ngIf="active" class="login-form p-flex-column p-ai-center p-justify-center animate__animated animate__zoomIn">
        <mat-label class="login-lbl p-mb-2">{{'auth.login' | translate}}</mat-label>
        <mat-form-field class="field">
            <mat-label>{{'auth.username' | translate}}</mat-label>
            <input type="email" matInput [(ngModel)]="user.identifier">
            <mat-error>
                {{'auth.emailError' | translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
            <mat-label>{{'auth.password' | translate}}</mat-label>
            <input type="password" matInput [(ngModel)]="user.password">
            <mat-error>
                {{'auth.requiredError' | translate}}
            </mat-error>
        </mat-form-field>
        <button pButton pRipple [disabled]="pressed || !user.identifier || !user.password"
            class="p-py-1 p-button-rounded p-button-secondary" (click)="login()" [label]="'auth.login' | translate"
            [icon]="(pressed?'pi pi-spin pi-spinner':'pi')"></button>
        <div class="field p-mt-2 forget-pass">
            <span (click)="forgetPassClicked()">{{'auth.forgotpassword' | translate}}</span>
        </div>
    </div>
</div>