.login-form {
    width: 26em;
    height: 26em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    border-radius: 26em;
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    display: flex;
    animation-duration: 0.4s;

    .login-lbl {
        font-size: 2.3em;
        color: #252525;
    }

    .field {
        width: 15em;
    }

    .forget-pass {
        span {
            font-size: 0.8em;
            cursor: pointer;
        }
    }

    .mat-raised-button {
        border-radius: 5em !important;
        color: #ffffff !important;
        background-color: #000000 !important;
    }

    .signup {
        display: none;
    }
}

.login-form:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
}

.login-btn {
    height: 15em;
    width: 15em;
    border-radius: 15em;
    background-color: #252525;
    z-index: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    animation-duration: 0.4s;

    div {
        height: 11em;
        width: 11em;
        border-radius: 11em;
        background-color: #707070;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;

        span {
            font-size: 1.7em;
        }
    }
}

::ng-deep .main-root-ltr {
    .login-form {

        .forget-pass {
            span {
                text-align: left;
            }
        }
    }

    .login-btn {
        margin-right: -20em;
    }
}

::ng-deep .main-root-rtl {
    .login-form {
        margin-left: -45em;

        .forget-pass {
            span {
                text-align: right;
            }
        }
    }

    .login-btn {
        margin-left: -57em;
    }
}

@media screen and (max-width: 480px) and (min-width: 360px) {}

@media screen and (max-width: 480px) {
    .login-form {
        width: auto;
        height: auto;
        border-radius: unset;
        box-shadow: none;
        background: unset;
    }

    .login-form:before {
        box-shadow: none;
    }

    .login-btn {
        display: none;
    }

    .signup {
        display: block !important;
    }

    .forget-pass {
        span {
            font-size: 1em !important;
        }
    }

    ::ng-deep .main-root-rtl {
        .login-form {
            margin-left: 19em !important;
        }
    }
}

@media screen and (max-width: 960px) and (min-width: 480px) {}

@media screen and (max-width: 1366px) and (min-width: 960px) {}

@media screen and (min-width: 1366px) {}