<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-right">
        </div>
        <div class="p-toolbar-group-left">
            <button [disabled]="saving" pButton pRipple class="p-button-success p-ml-1" (click)="submit()" label="ذخیره" [icon]="(saving?'pi pi-spin pi-spinner':'pi pi-save')"></button>
            <button pButton pRipple icon="pi pi-arrow-left" class="p-button-secondary" routerLink="../../users"></button>
        </div>
    </p-toolbar>
    <div class="p-grid p-fluid p-mt-2">
        <div *ngIf="currentUser.role === 'SUPERADMIN'" class="p-col-12 p-field">
            <label for="company">نام شرکت</label>
            <p-autoComplete #company="ngModel" [suggestions]="companies" [(ngModel)]="selecteCompanies" placeholder="جستجو" (completeMethod)="getCompany($event)" field="title" required [ngClass]="{'ng-dirty': (company.invalid && submitted) || (company.dirty && company.invalid)}">
            </p-autoComplete>
            <small *ngIf="(company.invalid && submitted) || (company.dirty && company.invalid)" class="p-error">
                شرکت باید انتخاب شود
            </small>
        </div>
        <div class="p-col-4 p-field">
            <label for="firstName">نام</label>
            <input type="text" #firstName="ngModel" [(ngModel)]="companyUser.firstName" pInputText required [ngClass]="{'ng-dirty': (firstName.invalid && submitted) || (firstName.dirty && firstName.invalid)}">
            <small *ngIf="(firstName.invalid && submitted) || (firstName.dirty && firstName.invalid)" class="p-error">
                ورود نام اجباری است
            </small>
        </div>
        <div class="p-col-4 p-field">
            <label for="password">رمز </label>
            <input type="password" #password="ngModel" [(ngModel)]="companyUser.password" pInputText required [ngClass]="{'ng-dirty': (password.invalid && submitted) || (password.dirty && password.invalid)}">
            <small *ngIf="(password.invalid && submitted) || (password.dirty && password.invalid)" class="p-error">
                ورود رمز عبور اجباری است
            </small>
        </div>
        <div class="p-col-4 p-field">
            <label for="title">موبایل</label>
            <input type="text" #mobile="ngModel" [maxlength]="11" pKeyFilter="num" [(ngModel)]="companyUser.mobile" pInputText>
        </div>
        <div class="p-col-4 p-field">
            <label for="title">تلفن داخلی</label>
            <input type="text" #internalPhone="ngModel" [maxlength]="25" pKeyFilter="num" [(ngModel)]="companyUser.internalPhone" pInputText>
        </div>
        <div class="p-col-4 p-field">
            <label for="title">ایمیل</label>
            <input type="email" #email="ngModel" [(ngModel)]="companyUser.email" pInputText>
        </div>
        <div class="p-col-4 p-field">
            <label for="title">جنسیت</label>
            <p-dropdown [options]="genders" #gender="ngModel" [(ngModel)]="companyUser.gender" placeholder="انتخاب جنسیت">
            </p-dropdown>
        </div>
        <div class="p-col-3 p-field">
            <label for="title">وضعیت </label>
            <p-dropdown [options]="states" #typeId="ngModel" [(ngModel)]="companyUser.state"></p-dropdown>
        </div>
        <div class="p-col-3">
            <label for="title">مسیر تخصصی</label>
            <div class="p-d-flex p-ai-center p-mt-3">
                <div *ngFor="let route of routes" class="p-field-checkbox p-ml-3">
                    <p-radioButton [inputId]="route.key" name="route" [value]="route.key" [(ngModel)]="companyUser.routType"></p-radioButton>
                    <label [for]="route.key">{{route.name}}</label>
                </div>
            </div>
        </div>
        <div class="p-col-3">
            <label for="title">مجوز ها</label>
            <p-multiSelect [options]="permissions" [(ngModel)]="companyUser.permissions"></p-multiSelect>
        </div>
        <div class="p-col-3">
            <label for="title">نقش ها</label>
            <p-multiSelect [options]="roles" [(ngModel)]="companyUser.roles"></p-multiSelect>
        </div>
    </div>
</div>