<div class="p-d-flex p-flex-column p-ai-center">
    <div class="rect"></div>
    <sc-topbar style="width: 100%;"></sc-topbar>
    <sc-discover style="width: 100%;margin-top: 5em;"></sc-discover>
    <sc-special style="width: 100%;margin-top: 5em;"></sc-special>
    <sc-posting style="width: 100%;margin-top: 5em;"></sc-posting>
    <sc-download style="width: 100%;margin-top: 5em;"></sc-download>
    <sc-about style="width: 100%;margin-top: 5em;"></sc-about>
    <sc-footer style="width: 100%;margin-top: 5em;"></sc-footer>


</div>