<div [class]="'container p-d-flex p-flex-column ' + className">
    <div class="head p-d-flex p-ai-center p-jc-start">
        <div class="p-d-flex p-ai-center p-jc-center publish-date">
            <i class="pi pi-clock"></i>
            <span>{{timeSince(advertisement?.created_at).count}} {{'ads.' + timeSince(advertisement?.created_at).label |
                translate}}</span>
        </div>
    </div>
    <div class="content p-d-flex">
        <div class="left">
            <div class="slider">
                <p-carousel dir="ltr" [value]="advertisement?.images" styleClass="custom-carousel" [numVisible]="1"
                    [numScroll]="1">
                    <ng-template let-adv pTemplate="item">
                        <div class="img p-d-flex p-ai-center p-jc-center">
                            <img [src]="'https://hayatemoon.com' + adv.url" />
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="similar p-d-flex p-flex-column">
                <span>{{'ads.similar Posts'|translate}}</span>
                <a class="p-d-flex p-ai-center">
                    <span>education in Hayatemoon</span>
                    <i class="pi pi-angle-left i-left"></i>
                    <i class="pi pi-angle-right i-right"></i>
                </a>
                <a class="p-d-flex p-ai-center">
                    <span>education in Istanbul, Kayaş</span>
                    <i class="pi pi-angle-left i-left"></i>
                    <i class="pi pi-angle-right i-right"></i>
                </a>
            </div>
        </div>
        <div class="right">
            <h2>{{advertisement?.title}}</h2>
            <div class="my-phone detail p-ai-center p-jc-center">
                <span>{{'ads.phone Number'|translate}} </span>
                <span style="flex:1 auto;"></span>
                <span class="phone">{{advertisement?.phone}}</span>
            </div>
            <div class="contact p-d-flex p-ai-center p-jc-center">
                <button pButton pRipple label="{{'ads.contact info'|translate}}" class="p-button-rounded"
                    (click)="showContactInfo=!showContactInfo"></button>
                <span style="flex:1 auto;"></span>
                <button pButton pRipple [label]="(marked?'ads.unmark':'ads.mark')|translate"
                    pTooltip="{{'ads.markD'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-text"
                    (click)="marked=!marked"></button>
            </div>
            <div *ngIf="showContactInfo" class="contact-info p-d-flex p-flex-column p-mt-2">
                <div class="detail p-d-flex p-ai-center p-jc-center">
                    <span>{{'ads.phone Number'|translate}} </span>
                    <span style="flex:1 auto;"></span>
                    <div class="copy p-d-flex p-ai-center p-jc-center">
                        <img src="assets/images/ads/copy.svg" alt="">
                    </div>
                    <span class="phone">{{advertisement?.phone}}</span>
                </div>
                <span class="police-header">{{'ads.police' | translate}}</span>
                <p>{{'ads.policeDetail' | translate}}</p>
            </div>
            <div class="detail p-d-flex p-ai-center p-jc-center">
                <span>{{'ads.category'|translate}}</span>
                <span style="flex:1 auto;"></span>
                <span>{{'common.' + advertisement.class|translate}}</span>
            </div>
            <div class="detail p-d-flex p-ai-center p-jc-center">
                <span>{{'ads.location'|translate}}</span>
                <span style="flex:1 auto;"></span>
                <span>{{advertisement.city}}</span>
            </div>
            <div class="detail p-d-flex p-ai-center p-jc-center">
                <span>{{'ads.degree'|translate}}</span>
                <span style="flex:1 auto;"></span>
            </div>
            <div class="detail p-d-flex p-ai-center p-jc-center">
                <span>{{'ads.work Background'|translate}}</span>
                <span style="flex:1 auto;"></span>
                <span>{{advertisement.workExperience}}</span>
            </div>
            <div class="detail p-d-flex p-ai-center p-jc-center">
                <span>{{'ads.price'|translate}}</span>
                <span style="flex:1 auto;"></span>
                <span>{{advertisement.price | number}} ₺</span>
            </div>
            <p class="p-mt-2">{{advertisement.description}}</p>
        </div>
    </div>
</div>