<div class="container p-d-flex p-flex-column">
    <div class="header p-d-flex p-ai-center p-jc-center">
        <div class="p-d-flex p-ai-center p-jc-center publish-date">
            <i class="pi pi-clock"></i>
            <span>2 days ago</span>
        </div>
        <span style="flex:1 auto;"></span>
        <button pButton pRipple (click)="close()" class="p-button-rounded p-button-icon p-button-text"
            icon="pi pi-times"></button>
    </div>
    <div class="content p-d-flex">
        <div class="left">
            <div class="slider"></div>
            <div class="similar"></div>
        </div>
        <div class="right">
            <h2>Teaching english and translate farsi to english</h2>
            <div class="btns"></div>
            <div class="contact-info"></div>
            <div class="police"></div>
            <div class="detail"></div>
            <p></p>
        </div>
    </div>
</div>