/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "mixins";
@import "primes";

@include localFonts($MainFont);

body {
  background: #f3f3f3;
  font-family: $MainFont;
  overflow-x: hidden;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

a {
  cursor: pointer;
}