<div class="container p-d-flex p-flex-column p-ai-center p-jc-center">
    <sc-topbar style="width: 100%;"></sc-topbar>

    <div class="content p-d-flex p-flex-column">
        <h1 *ngIf="!postAd">{{'post.Posting Free Advertiesement'|translate}}</h1>
        <sc-menu style="width: 100%;" *ngIf="!selectedCategory" (selectCategory)="onSelectCategory($event)"></sc-menu>
        <sc-post-adver *ngIf="selectedCategory && !postAd" (changeCategory)="selectedCategory=null"
            (postAd)="postAd=true">
        </sc-post-adver>
        <sc-manage-adver *ngIf="postAd"></sc-manage-adver>
    </div>
</div>