.container{
     
    margin-top: 10em;
    background-color: #E8E8E8;
   border-radius: 1.5em;
   
    .p{
      
        
        margin-left: 2em;
        margin-right: 2em;
    }
    .postad{
        margin-left: 2em;
        margin-right: 2em;
      
        .postspes{
               border-radius: 1.5em;
               background-color: #ffffff;
               cursor: pointer;
               :hover{
                background-color: #E8E8E8;
               }
            }
               
        }
        .postfeat{
            background-color: #ffffff;
            margin-left: 1.5em;
            border-radius: 1.5em;

        }
     
        .tt{
            margin-left: 2em;
            margin-right: 2em;
            margin-bottom: 2em;
            .bottm{
               
            }
        }
    
        
    }

 