.rectangle {
    width: 100%;
    margin-top: 8em;
    padding: 0 8em;

    .list {
        width: 75%;

        .search {
            background-color: #E8E8E8;
            padding: 0.9em;
            border-radius: 4em;
        }

        .advs {
            justify-content: space-between;
        }
    }

    .filter {
        width: 25%;

        .top {
            background-color: #E8E8E8;
            border-radius: 1em;

            .clear-filter {
                background-color: #ffffff;
                border-radius: 50%;
                height: 4em;
                width: 4em;
                cursor: pointer;
            }
        }

        .bottom {
            background-color: #E8E8E8;
            border-radius: 1em;
            margin-top: 1em;
            color: #707070;

            .menu-header {
                background-color: #E8E8E8;
                padding-bottom: 1.4em !important;
                margin-bottom: -0.8em;

                .menu-header-icon {
                    font-size: 1.5em;
                }

                .down-icon {
                    display: none;
                }

                .menu-item {
                    cursor: pointer;
                }
            }

            .menu-header:hover {
                background-color: #F3F3F3;

                .down-icon {
                    display: inline;
                }
            }


            .active-menu-header {
                background-color: #F3F3F3;

                a {
                    color: #3548BF;
                }

                .down-icon {
                    display: inline;
                    transform: rotate(180deg);
                }
            }
        }

    }
}

::ng-deep .main-root-ltr {
    .filter {

        margin-right: 1.5em;

        .bottom {
            .menu-header {
                border-top-left-radius: 1em;
                border-top-right-radius: 1em;

                .catlabel {
                    margin-left: 0.5em;
                }

                .menu-item {
                    .catlmenulabel {
                        margin-left: 1em;
                    }
                }

            }


            .menu-header:last-child {
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
            }

        }

        .top {
            .catlabel {
                margin-left: 0.5em;
            }

            .p-field-checkbox {
                .speciallabel {
                    margin-left: 0.5em;
                }
            }
        }
    }
}

::ng-deep .main-root-rtl {
    .filter {

        margin-left: 1.5em;

        .bottom {
            .menu-header {
                border-top-right-radius: 1em;
                border-top-left-radius: 1em;

                .catlabel {
                    margin-right: 0.5em;
                }

                .menu-item {
                    .catlmenulabel {
                        margin-right: 1em;
                    }
                }


            }

            .menu-header:last-child {
                border-bottom-right-radius: 1em;
                border-bottom-left-radius: 1em;
            }
        }

        .top {
            .catlabel {
                margin-right: 0.5em;
            }

            .speciallabel {
                margin-right: 0.5em;
            }

        }
    }

}

@media screen and (max-width: 480px) and (min-width: 360px) {}

@media screen and (max-width: 480px) {
    .rectangle {
        margin-top: 7em !important;
        padding: 0 1em !important;
    }

    .list {
        width: 100% !important;
    }

    .advs {
        justify-content: center !important;
    }

    .filter {
        display: none;
    }
}

@media screen and (max-width: 960px) and (min-width: 480px) {}

@media screen and (max-width: 1366px) and (min-width: 960px) {}

@media screen and (min-width: 1366px) {}