.bottom {
    border-top-left-radius: 7em;
    border-top-right-radius: 7em;
    background-color: #e8e8e8;
    width: 100%;
    z-index: 3;

    .links {
        margin-top: 3em;
        width: 70%;
        color: #707070;

        span {
            cursor: pointer;
        }
    }

    .footerlink {
        width: 70%;
        position: relative;
        color: #ACACAC;

        span {
            position: absolute;
            font-size: 0.8em;
        }

        // span:nth-child(1) {
        //     left: 0;
        // }

        // span:last-child {
        //     right: 0;
        // }

        i {
            font-size: 2em;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 480px) and (min-width: 360px) {}

@media screen and (max-width: 480px) {
    .links {
        width: 95% !important;
    }

    .footerlink {
        width: 95%;
    }
}

@media screen and (max-width: 960px) and (min-width: 480px) {}

@media screen and (max-width: 1366px) and (min-width: 960px) {}

@media screen and (min-width: 1366px) {}