<div class="bottom p-d-flex p-flex-column p-ai-center p-pb-6">
    <div>
        <img class="p-mt-6" src="assets/images/landing/logo-blue.png" />
    </div>
    <div class="links p-d-flex p-mt-4 p-jc-evenly">
        <span>{{'share.Hayatemoon magazine'|translate}}</span>
        <span class="p-mx-2">{{'share.Terms of service'|translate}}</span>
        <span class="p-mx-2">{{'share.Privacy policy'|translate}}</span>
        <span class="p-mx-2">{{'share.Support'|translate}}</span>
        <span>{{'share.About'|translate}}</span>
    </div>
    <div class="footerlink p-d-flex p-ai-center p-jc-center p-mt-6">
        <span>{{'share.Designed by Hayatemoon'|translate}}</span>
        <i class="fa fa-send-o"></i>
        <i class="fa fa-envelope-o p-mx-6"></i>
        <i class="fa fa-instagram"></i>
        <span>{{'share.All-right'|translate}}</span>
    </div>
</div>