<div class="bottom p-d-flex p-flex-column p-ai-center p-pb-6">
    <div>
        <img class="p-mt-6" src="assets/images/landing/logo-blue.png" />
    </div>
    <div class="links p-d-flex p-mt-4 p-jc-evenly p-grid">
        <div class="p-col-12 p-lg-3 p-d-flex p-ai-center p-jc-center">
            <span>{{'share.Hayatemoon magazine'|translate}}</span>
        </div>
        <div class="p-col-12 p-lg-2 p-d-flex p-ai-center p-jc-center">
            <span class="p-mx-2">{{'share.Terms of service'|translate}}</span>
        </div>
        <div class="p-col-12 p-lg-3 p-d-flex p-ai-center p-jc-center">
            <span class="p-mx-2">{{'share.Privacy policy'|translate}}</span>
        </div>
        <div class="p-col-12 p-lg-2 p-d-flex p-ai-center p-jc-center">
            <span class="p-mx-2">{{'share.Support'|translate}}</span>
        </div>
        <div class="p-col-12 p-lg-2 p-d-flex p-ai-center p-jc-center">
            <span>{{'share.About'|translate}}</span>
        </div>
    </div>
    <div class="footerlink p-d-flex p-ai-center p-jc-center p-mt-6 p-grid">
        <div class="p-col-12 p-lg-4  p-d-flex p-ai-center p-jc-center p-order-2 p-order-lg-0">
            <span>{{'share.Designed by Hayatemoon'|translate}}</span>
        </div>
        <div class="p-col-12 p-lg-4  p-d-flex p-ai-center p-jc-center p-order-1 p-order-lg-1">
            <i class="fa fa-send-o"></i>
            <i class="fa fa-envelope-o p-mx-6"></i>
            <i class="fa fa-instagram"></i>
        </div>
        <div class="p-col-12 p-lg-4  p-d-flex p-ai-center p-jc-center p-order-3 p-order-lg-2">
            <span>{{'share.All-right'|translate}}</span>
        </div>
    </div>
</div>