<div class="container p-d-flex p-flex-column p-ai-center p-jc-center">
  <sc-topbar style="width: 100%;"></sc-topbar>
  <div class="content p-d-flex p-jc-center p-mb-4 p-grid">
    <div class="left p-col-12 p-lg-3">
      <div class="menus">
        <div class="menu p-d-flex p-ai-center" *ngFor="let menu of menus;let i = index" [id]="'menu' + i"
          (click)="menuClicked(i)" [routerLink]="menu.id">
          <div class="icon">
            <img [src]="'assets/images/panel/' + menu.icon + '.svg'" alt="">
          </div>
          <div [id]="'dash' + i"></div>
          <h3>{{'panel.' + menu.label | translate}}</h3>
        </div>
      </div>
    </div>
    <div class="right p-col-12 p-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>