<div class="container p-d-flex p-flex-column p-ai-center p-jc-center">
  <sc-topbar style="width: 80%;"></sc-topbar>
  <div class="content p-d-flex p-jc-center p-mb-4">
    <div class="left">
      <div class="menus">
        <div class="menu p-d-flex p-ai-center" *ngFor="let menu of menus;let i = index" [id]="'menu' + i"
          (click)="menuClicked(i)" [routerLink]="menu.id">
          <div [id]="'dash' + i" class="p-mr-1"></div>
          <h3>{{menu.label}}</h3>
        </div>
      </div>
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>